.container{
   padding-top: 3rem;
   padding-bottom:3rem;
}


.button-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top:1rem;
}

@media (max-width:480px){
    .teaser{
        display:none;
    }
}